h1 {
	font-size: 24px;
	font-weight: bold;
	margin: 10px;
	padding-bottom: 10px;
}

ul {
 font-size: 18px;
 margin: 10px;
 background: rgba(0, 0, 0, 0.8);
 color: white;
 border-radius: 5px;
}

li {
	margin: 5px;
}

form {
	background: rgba(0, 0, 0, 0.7) !important
}

.well {
	width: 880px;
	height: 905px;
	background: url("../img/multitasking.jpg") center center no-repeat !important;
  background-attachment: fixed;
	margin: 5% 10% 5% 10%;
}

.rotate {
	transform: rotate(1440deg);
	transition: all 1s;
}

.form-control {
	margin: 10px;
	width: 50%;
}

.completed {
	text-decoration: line-through;
	font-weight: lighter;
}

.glyphicon {
	font-size: 18px;
}

.glyphicon-remove {
	color: #258C7C;
}

.glyphicon-ok {
	color: #F6C700;
}

.btn {
	background: rgba(0, 0, 0, 0.8);
	color: white;
	margin-left: 10px;
	margin-bottom: 20px;
}
