h2 {
	font-size: 50px;
}


.well{
	width: 600px;
	margin-top: 40%;
}
.myForm{
	background-color: #ccccff;
}
.container{
	display: block;
	margin:auto;
	width: 600px;
	height: auto;
}
.completed{
	text-decoration: line-through;
}
ul{
 list-style: none;
 font-size: 3em;
}
.glyphicon {
	font-size: 28px;
}
.glyphicon-remove{
	color: red;
}
.glyphicon-ok{
	color: green;
}
